/* Resetting margin and padding for body and HTML elements */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width:100%
  /*overflow: hidden;*/ /* Hide any overflow */
}

/* Applying flex layout to #root to fill the entire viewport */
#root {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(224, 210, 210, 0.925);
}
