.social-form{
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.socialImg{
  max-width: 100%;
  height:auto;
}

.row{
  max-width: 100% !important;
}

@media screen and (max-width:768px){
  .card{
    box-shadow: none !important;
    border: none;
    margin-top: 10px;
  }
}