.navbar-brand img{
    width: 20vw;
}

.bi{
    font-size: 1.5rem; 
    color: cornflowerblue;
    margin-left: 5px;
}

.bi-search{
    display: none;
}

@media screen and (max-width:540px) {
    .bi-search{
        display: block;
    }
    .searchBar{
        display: none;
    }
    .navbar-brand img{
        width: 40vw;
    }
}
